.main-logo,
ul,
li {
    display: inline-block;
}



.main-header {
    max-width: 518px;
    width: 100%;
    margin-top: 30px;
    margin-left: 145px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}


.header-info {
    max-width: 458px;
    width: 100%;
    margin-top: 30px;
    margin-left: 145px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}


.get-started-btn {
    margin-left: 145px;
    margin-top: 45px;
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}


.press-play-btn {
    width: 20px;
    height: 17px;
    background: #FF9900;
    radius: 1.13px;
    transform: rotate(90deg);
}


.watch-video-btn {
    margin-top: 45px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
}


.jumping-people-img {
    position: absolute;
    top: 128px;
    right: 129px;

}