 nav,
 .nav-list {
     display: flex;
     margin-top: 20px;
     align-items: center;
     justify-content: space-evenly;
     gap: 30px;
 }


 .nav {
     position: relative;
     left: 110px;
 }


 li {
     list-style-type: none;
 }



 a {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 28px;
     /* identical to box height, or 200% */
     color: #2F281E;
 }



 a:link {
     text-decoration: none;
 }

 a:visited {
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }

 a:active {
     text-decoration: none;
 }


 .sign-in-btn {
     margin-right: 14px;
     width: 102px;
     height: 46px;
     background-color: white;
     border-radius: 4px;
     border: 1px solid #BCD0E5;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #173A56;
 }


 .sign-up-btn {
     width: 110px;
     height: 46px;
     background: #FF9900;
     border-radius: 4px;
     border: none;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #FFFFFF;
 }



 .main-header {
     max-width: 518px;
     width: 100%;
     margin-top: 113px;
     margin-left: 145px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 44px;
     line-height: 54px;
     /* or 123% */
     color: #2F281E;
 }


 .header-info {
     max-width: 458px;
     width: 100%;
     margin-top: 30px;
     margin-left: 145px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 28px;
     /* or 156% */
     color: #544837;
 }


 .get-started-btn {
     margin-left: 145px;
     margin-top: 45px;
     width: 175px;
     height: 53px;
     background-color: #FF9900;
     border: none;
     border-radius: 4px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #FFFFFF;
 }


 .press-play-btn {
     width: 20px;
     height: 17px;
     background: #FF9900;
     radius: 1.13px;
     transform: rotate(90deg);
 }


 .watch-video-btn {
     margin-left: 30px;
     margin-top: 45px;
     background-color: #FFFFFF;
     border: none;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     text-decoration-line: underline;
     color: #FF9900;
 }


 .jumping-people-img {
     position: absolute;
     top: 128px;
     right: 129px;

 }


 .card {
     margin-top: 54px;
     display: flex;
     justify-content: center;
     margin-top: 100px;
     gap: 30px;
 }


 .feature-headline {
     max-width: 539px;
     width: 100%;
     margin-top: 110px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 54px;
     text-align: center;
     color: #2F281E;
     position: relative;
     bottom: 54px;
     left: 439px;
     top: 30px
 }


 .card-one-header {
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     /* identical to box height */
     color: #2F281E;
 }


 .card-two-header {
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     /* identical to box height */
     color: #2F281E;
 }


 .card-three-header {
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     /* identical to box height */
     color: #2F281E;
 }


 .card-four-header {
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     /* identical to box height */
     color: #2F281E;
 }


 .card-one-info {
     max-width: 240px;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .card-two-info {
     max-width: 240px;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .card-three-info {
     max-width: 240px;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .card-four-info {
     max-width: 240px;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .container-1 {
     display: flex;
     justify-content: center;
 }


 .sign-up-now-btn {
     width: 175px;
     height: 53px;
     margin-top: 34px;
     justify-content: center;
     background: #FF9900;
     border-radius: 4px;
     border: none;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #FFFFFF;
 }


 .container-2 {
     display: flex;
     justify-content: flex-start;
 }



 .validation-info {
     margin-left: 145px;
     margin-top: 146px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #544837;
 }


 .design-professionals {
     max-width: 385px;
     width: 100%;
     margin-top: 3px;
     margin-left: 145px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 54px;
     /* identical to box height */
     color: #2F281E;
 }


 .p-info {
     max-width: 486px;
     width: 100%;
     margin-left: 145px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .p-header {
     max-width: 486px;
     width: 100%;
     margin-left: 145px;
     margin-top: 12px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 26px;
     /* identical to box height, or 162% */
     color: #2F281E;
 }


 .man-red-shirt-img {
     margin-right: 145px;
     margin-top: 150px;
     margin-left: 105px;
 }


 .part-4,
 .part-5 {
     display: inline-block;
 }

 .man-blue-shirt-img {
     margin-left: 144px;
     margin-top: 101px;
 }


 .easier {
     margin-top: 113px;
     margin-left: 100px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .product-managers {
     margin-top: 3px;
     margin-left: 100px;
     max-width: 342px;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 54px;
     /* identical to box height */
     color: #2F281E;
 }


 .p-info-part-5-big {
     margin-bottom: 33px;
     max-width: 486px;
     width: 100%;
     margin-left: 100px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .p-info-part-5 {
     max-width: 365px;
     width: 100%;
     position: relative;
     left: 150px;
     bottom: 50px;
 }


 .check-symbol {
     display: inline-block;
     margin-left: 100px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }


 .p-info-part-5 {
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     /* or 162% */
     color: #544837;
 }



 .p-info-part-6 {
     margin-top: 143px;
     margin-left: 147px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     color: #544837;
 }


 .marketers {
     margin-top: 3px;
     margin-left: 147px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 54px;
     /* identical to box height */
     color: #2F281E;
 }


 .container-3 {
     display: flex;
     justify-content: flex-start;
 }


 .man-yellow-shirt-img {
     margin-right: 145px;
     margin-top: 150px;
     margin-left: 105px;
 }


 .footer {
     margin-top: 147px;
 }



 .main-logo-footer {
     margin-left: 159px;
 }


 .container-4 {
     display: flex;
     justify-content: center;
 }


 .container-5 {
     position: relative;
     right: 100px;


 }


 .footer-list-1 {
     margin-bottom: 83px;
 }


 .footer-list-2 {
     margin-left: 100px;
     margin-bottom: 83px;
 }


 .sign-up-now {
     position: absolute;
     right: 250px;
     bottom: 50px;
     width: 131px;
     height: 39px;
     background: #FF9900;
     border-radius: 4px;
     border: none;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     text-align: center;
     color: #FFFFFF;
 }


 .phone-number {
     position: absolute;
     bottom: 120px;
     right: 60px;
     width: 325px;
     height: 48px;
     box-sizing: border-box;
     background: #FFFFFF;
     border: 1px solid #BCD0E5;
     border-radius: 4px;
 }